@font-face {
    font-family: 'iran';
    src: url('../assets/fonts/IRANSans4/IRANSans4/WebFonts/fonts/ttf/IRANSansWeb.ttf') format('ttf'),
    url('../assets/fonts/IRANSans4/IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot') format('eot'),
    url('../assets/fonts/IRANSans4/IRANSans4/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'),
    url('../assets/fonts/IRANSans4/IRANSans4/WebFonts/fonts/woff2/IRANSansWeb.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iran';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.btns{
    border: 0;
    padding: 10px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.eror{
    color: red;
}
/* Start Header-Top Style */

header{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}         
.sign {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
}
.sign:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}        
.login{
    background-image: linear-gradient(to right, #f857a6 0%, #ff5858  51%, #f857a6  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
}
.login:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.brand-img{
    width: 200px;
    height: 90px;
}
.show-time{
    color: white;
    font-size: 20px;
}
.mood-btn{
    border: 0;
    background: transparent;
    margin: 0px 20px;
    color: white;
    font-size: 22px;
}

/* Start Login - Sign Form Style */

.show-login-form , .show-sign-form{
    padding: 40px;
    margin: 0 auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 100;
    position: absolute;
    left: 33%;
    top: 28%;
}
.hide{
    display: none !important;
}
.close-btn{
    color: red;
    font-size: 24px;
    margin: 0px 0px 10px;
}
.show-login-form{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.show-sign-form{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.form-header{
    color: white;
    text-align: center;
    margin: 0px 0px 25px;
}
.userinput , .passinput , .emailinput , .ageinput{
    padding: 10px;
    margin: 10px 0px;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;        
}
.check-container{
    margin: 10px 0px;
}
.login-form-btn{
    margin: 10px auto;
    width: 50%;       
    background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50  51%, #bdc3c7  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}
.login-form-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}   
.sign-form-btn {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    margin: 10px auto;
    width: 50%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
}
.sign-form-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* Start Menu Style */
.menu-icon{
    font-size: 34px;
    color: white;
}
.menu-item{
    padding: 15px;
    margin: 0px 20px;
}
.menu-link:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: -2px 2px 30px white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.show-menu{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: 38px;
    padding: 0;
    z-index: 1;
}


/* Start Slider Style */

.slider{
    width: 100%;
    position: relative;
}
.item{
    display: none;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.item-active{
    display: block;
}
.slider-item img{
    width: 100%;
    height: 600px;
}
.caption-slider{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 0px;
}
.slider-controls{
    display: flex;
    justify-content: space-between;
    position:absolute;
    top: 50%;
    right: 3%;
    left: 3%;
    color: white;
    font-size: 36px;
}
.control-icon{
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Start Main Style */

/* Start Main Title Style */
.main-title-container{
    text-align: center;
}
.main-header-title{
    margin: 50px auto;
    text-align: center;
    display: inline-block;
    position: relative;
    
}
.main-header-title::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 0px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    width: 0px;
    height: 2px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.main-header-title:hover::before{
    content: '';
    width: 100%;
}
.main-header-title::after{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0px;
    background: #ff00cc; 
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    width: 0px;
    height: 2px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.main-header-title:hover::after{
    content: '';
    width: 100%;
}

/* Start Main Content Style */

.main-content-header{
    position: relative;
}
.main-content-header:hover .img-content{
    opacity: 0.6;
    box-shadow: -1px 1px 20px 1px black;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.main-content{
    margin: 15px 0;
}
.img-content{
    width: 100%;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.content-title{
    font-size: 22px; 
    font-weight:bold ;
    position:absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}
.main-contenet-body{
    background-color: #f7f8fa;
}
.content-description , .content-end-text{
    text-align: center;
    font-size: 17px;
    margin: 0px;
    padding: 10px 2px;
}
.main-contenet-footer{
    text-align: center;
    background-color: #f7f8fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0px;
}
.content-btn{     
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
}
.content-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* Start Main Offers Style */

.main-offers{
    background-color: #f7f8fa;
    width: 80%;
    margin: 10px auto 30px;
    padding: 12px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}
.sale, .vam ,.bime{
    color: black;
    font-size: 20px;
    margin: 12px 0;
    cursor: pointer;
} 
.hover-link:hover{
    color: salmon;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.offer-show{
    text-align: center;
    font-size: 18px;
    display: none;
}
.offer-active{
    display: block;
}
.offer-click{
    color: salmon;
}

/* Start Footer Style */

footer{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
footer ul{
    padding: 0;
}
.footer-menu-item{
    margin: 10px 0;
}
.footer-menu-item a:hover{ 
    opacity: 0.8;
}
.send-email-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send-email-section input{
    border: 1px solid white;
    padding: 5px 10px;
    margin: 10px 0;
    width: 50%;
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.send-email-section input::placeholder{
    color: white;
    text-align: center;
}
.footer-btn{
    width: 25%;
    margin-top: 5px;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;   
}
.footer-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.copy-right{
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0px 0px 20px;
}